<div class="header">
    <%=link_to image_tag("logo.jpg",  :alt =>"World energy analysis", style:"height: 120px; width: 140px;"), "/"%>
    <h1>World Energy Analysis</h1>
</div>
<br>
| <%=link_to 'Global Data', continents_path %> | <%=link_to 'World Map', home_index_path%> | Africa | North America | Europe | Latin America | Middle East | Australasia |  </p>

