<%=link_to image_tag("logo.jpg",  :alt =>"World energy analysis", style:"height: 120px; width: 140px;"), "/"%>
<br>
<%=link_to 'Global Data', continents_path %> | Africa | Australasia | Europe | Latin America | Middle East and Arid Asia | Small Island States | Temperate Asia | Tropical Asia </p>