<div class="header">
    <%=link_to image_tag("logo.jpg",  :alt =>"World energy analysis", style:"height: 120px; width: 140px;"), "/"%>
    <h1>World Energy Analysis</h1>
</div>
<br>
<%=link_to 'All Countries', countries_path %> | <%=link_to 'Country Data', continents_path %> | Africa | Australasia | Europe | Latin America | Middle East and Arid Asia | Small Island States | Temperate Asia | Tropical Asia </p>
<div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],'mapsApiKey': 'AIzaSyDIQFAz4aYXsAg6IMs6l2Fj6aiXv_3uT2M'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['Country', 'Popularity'],
          ['Germany', 200],
          ['United States', 300],
          ['Brazil', 400],
          ['Canada', 500],
          ['France', 600],
          ['RU', 700]
        ]);

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
    </script>
</div>
